:root {
    --main-pink: #ff907c;
    --sub-pink: #d83957;
    --off-pink: #ffc4b2;
    --main-green: #98bfad;
    --main-brown: #694a52;
}
* {
    padding: 0;
    margin: 0;
  }

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    
}

.nav-container {
    width: 100%;
    padding: .25rem 0 .25rem 0;
    background-color: var(--main-pink);
    border-bottom: solid .1rem var(--main-green);
}

nav {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-family: 'Ballet', cursive;
}


body {
    background-color: #eee;
}

img {
    width: 30%;
    margin: calc(10%/6);

}

footer {
    background-color: var(--main-pink);
    padding: .25rem 0 .25rem 0;
    border-top: solid .1rem var(--main-green);
    width: 100%;
}

/*----- CONTACT FORM -----*/

.contact-form,h1 {
    font-family: Arial, Helvetica, sans-serif;
}


div h1 {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 3.5rem 0 2rem 0;
    font-weight: normal;
    color: var(--main-brown);
}

#name,#number,#email,#project,#message {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#contact {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#contact input, #contact label {
    display: inline-block;
}

#contact input {
    width: 65%;
}

textarea {
    width: 65%;
}

#project {
    width: 65%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#msg-h {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.button-s {
    width: 100%;
    margin: 8% 0 10% 0;
}

button {
    background: none;
    color: var(--main-pink);
    border: 3px solid;
    padding: 2% 4%;
    font-size: 1.1rem;
    transition: all .3s;
}

button:hover {
    border-color: var(--sub-pink);
    color: var(--main-brown);
    box-shadow: 0 0.5em 0.5em -0.5em var(--main-green);
    transform: translateY(-10px);
    cursor: pointer;
}
